.btn{
    margin:  5% 10%;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;
    border: 1px transparent;
}

.btn:hover{
    animation: button-push 0.3s ease 0.5;
    background-color: #bbb;
 }
 @keyframes button-push {
   50%{
       transform: scale(0.8);
       
   
     }
     100%{
       transform: scale(11);

       
     }
    };
 
  ._form-control{
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;

  }
  .form-control{
    border-color: hsl(2%,16%,33%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;
    margin:10px;
    border-radius: 15px;
  }

  .row{
    margin-left:20px;
    margin-right:20px;
  }
  