:root{
    /*=============Colors ==========*/
    --first-color: hsl(353,100%, 65%);
    --title-color: hsl(244,24%,26%);
    --text-color: hsl(244,16%,43%);
    --body-color: hsl(258,60%,98%);
    --container-color: #fff;
    --list-bg-color:  hsl(244,16%,43%);
  
}


body {

    background: #fff !important;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
    color: #1a1e21;
  }
  .section-title h2 {
    text-shadow: 1px 1px 2px #4444;
  }
  header nav {
    background: #fff;
    box-shadow: 0px 0px 5px #4444;
  }
  header nav a.navbar-brand h2 {
    color: var();
  }
  header nav ul.action-menu .nav-item .nav-link {
    margin: 0px 20px;
    font-size: 18px;
  }
  .navbar-toggler {
    outline: none!important;
    outline-color: transparent!important;
    padding: none!important;
    border: none!important;
    border-radius: none!important;
    
  }
  
  @media(max-width: 567px){
    
  }

  .container{
    max-width: 1000px;
    padding-left: 5px;
    padding-right:5px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow:hidden;
  }